.UI {
    z-index: 1; /* is used to prevent a-scene from overlaying UI */
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.UI__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.25);
    transition: background-color 0.2s ease-out;
    border: solid 3px #333;
    border-radius: 5px;
}