.UI {
    z-index: 1; /* is used to prevent a-scene from overlaying UI */
    position: fixed;
    width: 100vw;
    height: 100%;
    left: 0; top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.UI__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.25);
    transition: background-color 0.2s ease-out;
    border: solid 3px #333;
    border-radius: 5px;
}
.UI__button_active {
    background-color: #fff;
    border: solid 3px #333;
}
.UI__button_loading {
    width: 200px;
    height: 80px;
}
.control-panel {
    position: fixed;
    display: none;
    justify-content: space-between;
    width: 100vw;
    height: 100%;
}
.control-panel__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.25);
    transition: background-color 0.2s ease-out;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    margin: 20px;
    border: solid 3px rgba(51, 51, 51, 0.25);
}
.control-panel__left {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.control-panel__rotation-circle {
    margin-left: 10vw;
    width: 15vw;
}
.control-panel__rotation-image {
    width: 100%;
}
.control-panel__right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.control-panel__scale-scroller {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 100%;
}
.control-panel__scale-image {
    height: 80vh;
}
.control-panel__position-controller {
    width: 15vw;
    align-self: flex-end;
    margin-right: 20px;
}

.control-panel__cross-image {
    width: 100%;
}

/* is used in dev purposes 
.control-panel__rotationCircle,
.control-panel__scaleScroller,
.control-panel__positionController {
    background-color: rgba(209, 109, 190, 0.5);
} */

@media screen and (orientation: portrait) {
    .control-panel__rotation-circle {
        width: 30vw;
        order: 2;
    }
    .UI__fullscreen-button {
        order: 1;
    }
    .control-panel__position-controller {
        width: 30vw;
    }
    .control-panel__scale-image {
        height: 100%;
    }
    .control-panel__scale-scroller {
        height: 40%;
    }
}